DATABASE_URL= VALUE
PGPASSWORD= VALUE
PGUSER= VALUE

GOOGLE_CLIENT_ID= VALUE
GOOGLE_CLIENT_SECRET= VALUE
CLOUDINARY_CLOUD_NAME= VALUE
CLOUDINARY_API_KEY= VALUE
CLOUDINARY_API_SECRET= VALUE
JWT_SECRET= VALUE
JWT_EXPIRATION_MS= VALUE